.section-blead {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.dna-hero {
  /*for padding if needed  */
}
.dna-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Jost;
  font-weight: 300;
  font-size: 128px;
  line-height: 130px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  color: black;
}
.dna-hero img {
  /* background-color: red; */
}
.commercial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 28px;
}

/* about maesta */

.about-maesta .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-maesta .main-content h2 {
  font-weight: 300;
  font-size: 128px;
  line-height: 130px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  color: black;
  max-width: 1250px;
}

.highlights h2, .amenities h2{
    font-family: Jost;
font-weight: 300;
font-size: 128px;
line-height: 130px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: lowercase;
margin-bottom: 80px;
}
.high-points-section .title{
    font-family: Jost;
font-weight: 500;
font-size: 24px;
line-height: 20px;
letter-spacing: 0%;
text-align: justify;
text-transform: lowercase;
margin-bottom: 28px ;
}
.high-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.high-points ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 32px;
}
.high-points ul li{
    list-style-type: disc;
    list-style-position: inside;
}