
/* Header.css */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0); 

  transition: background-color 0.3s ease;
}

header .container {
  max-width: 100%;
  padding: 46px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 50px;
  z-index: 1001;
}

.nav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #272727;
  transition: 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.nav.active {
  left: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 140px;
  list-style: none;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-right: 80px;
}

.nav-item {
  margin: 1rem 0;
  width: 100%;
  text-align: right;

}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: Jost;
  font-weight: 700;
  font-size: 15px;  
}

.nav-link:hover {
  color: var(--blue);
}

.hamburger {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 1001;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 24px;
}

.blue-bar {
  width: 54px;
  height: 6px;
  background-color: var(--blue); 
}

.green-bar {
  width: 46px;
  height: 6px;
  background-color: var(--green);
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .nav-link {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Albula Pro', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    letter-spacing: 0%;
    transition: 0.3s ease;
    font-family: Albula Pro;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: right;
    margin-right: 150px;
  }
  header .container{
    padding: 56px 84px;
  }

  /* .nav-menu {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: start;
  } */

  /* .nav-item {
    margin: 0 1rem;
    text-align: center;
  } */
}
  footer {
    padding: 45px 0;
    background-color: #f0f0f0;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.footer-logo img{
  height: 50px;
  width: 100%;
}
.logo-text {
    color: #4A90E2;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.tagline {
    color: #4A90E2;
    font-size: 14px;
}

.social-icons-and-disclaimer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.social-icons{
  display: flex;
  gap: 29px;
  /* flex-direction: ; */
}
.social-icon {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.footer-copyright {
    color: #666;
    font-size: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer-social-icons {
        justify-content: center;
    }
}