@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #fff;
  --blue :#6A87C3;
  --green :#529471;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* trust section */
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;

}

a {
  font-weight: 500;
  text-decoration: none;
}


body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1530px; /* Desktop max-width */
  margin: 0 auto; /* Center the container */
  padding: 0 5%; /* Responsive side padding */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Extra Large Screens (1536px and above) */
@media (min-width: 1536px) {
  .container {
      max-width: 1530px;
      padding: 0 5%;
  }
}

/* Large Screens (1200px - 1535px) */
@media (min-width: 1200px) and (max-width: 1535px) {
  .container {
      max-width: 1200px;
      padding: 0 4%;
  }
}

/* Medium Screens (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
      max-width: 960px;
      padding: 0 4%;
  }
}

/* Small Screens (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 720px;
      padding: 0 4%;
  }
}

/* Extra Small Screens (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
      max-width: 540px;
      padding: 0 4%;
  }
}

/* Mobile Screens (Below 576px) */
@media (max-width: 575px) {
  .container {
      max-width: 100%;
      padding: 0 5%;
  }
}